TestLemonWayWebserviceConsole/Web References/ServicesLemonWay/ServiceWebLemonWay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFibonacciSequence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerateFibonacciSequenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerateFibonacciSequenceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Xml_To_Json">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Xml_To_JsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Xml_To_JsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GenerateFibonacciSequenceSoapIn">
    <wsdl:part name="parameters" element="tns:GenerateFibonacciSequence" />
  </wsdl:message>
  <wsdl:message name="GenerateFibonacciSequenceSoapOut">
    <wsdl:part name="parameters" element="tns:GenerateFibonacciSequenceResponse" />
  </wsdl:message>
  <wsdl:message name="Xml_To_JsonSoapIn">
    <wsdl:part name="parameters" element="tns:Xml_To_Json" />
  </wsdl:message>
  <wsdl:message name="Xml_To_JsonSoapOut">
    <wsdl:part name="parameters" element="tns:Xml_To_JsonResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceWebLemonWaySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerateFibonacciSequence">
      <wsdl:input message="tns:GenerateFibonacciSequenceSoapIn" />
      <wsdl:output message="tns:GenerateFibonacciSequenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Xml_To_Json">
      <wsdl:input message="tns:Xml_To_JsonSoapIn" />
      <wsdl:output message="tns:Xml_To_JsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceWebLemonWaySoap" type="tns:ServiceWebLemonWaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFibonacciSequence">
      <soap:operation soapAction="http://tempuri.org/GenerateFibonacciSequence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Xml_To_Json">
      <soap:operation soapAction="http://tempuri.org/Xml_To_Json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceWebLemonWaySoap12" type="tns:ServiceWebLemonWaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateFibonacciSequence">
      <soap12:operation soapAction="http://tempuri.org/GenerateFibonacciSequence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Xml_To_Json">
      <soap12:operation soapAction="http://tempuri.org/Xml_To_Json" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWebLemonWay">
    <wsdl:port name="ServiceWebLemonWaySoap" binding="tns:ServiceWebLemonWaySoap">
      <soap:address location="http://localhost:60472/ServiceWebLemonWay.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceWebLemonWaySoap12" binding="tns:ServiceWebLemonWaySoap12">
      <soap12:address location="http://localhost:60472/ServiceWebLemonWay.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>